
 #courses {
     display: flex;
     flex-wrap: wrap;
     font-size: 18px;
 }

 #courses > button {
   background-color: #7d55d4;
   margin: 10px;
   padding: 10px;
   width: 200px;
   border : 1px solid black;
   border-radius: 1px;
 }


 img {
   width: 100%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border : 1px solid #7d55d4;
   border-radius: 4px;
   padding: 5px;
 }

 .center {
   width: 25%;
   height: 50%;
 }

 .center_form {
   width: 25%;
   margin-left: 37.5%;
   margin-right: 37.5%;
 }

 body  {
   font-family:"Segoe UI",Arial,sans-serif;
   font-size: 15px;
 }

 h2 {
   font-weight: bold;
   background-color:#7d55d4;
   padding: 10px;
   font-size: 20px;
   border: 1px solid black;
 }

 table {
   background-color: #7d55d4;
   text-align: center;
   font-weight: bold;
   width: 100%;
 }

 th {
   border: 1px solid black;
   padding: 10px;
   margin: 0px;
   font-size: : 20px;
 }

 @media (max-width: 500px){
   th{
     display: flex;
     flex-wrap: wrap;
   }
 }

input {
  background-color:#7d55d4;
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
  font-size: : 20px;
}

.cpen211 button::selection {
  color: red;
}
